@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
body {
  margin: 0;
  font-family: "Manrope", sans-serif;
}

code {
  font-family: "Manrope", sans-serif;
}

/* ### Neutral

- Grayish Blue: hsl(217, 19%, 38%)
- Dark Grayish Blue: hsl(217, 19%, 24%)
- Dark Blue: hsl(218, 23%, 16%)

## Typography

### Body Copy

- Font size (quote): 28px

### Font

- Family: [Manrope](https://fonts.google.com/specimen/Manrope)
- Weights: 800 */
